
<div class="row">

<div class="col-md-4 text-white bg-dark mt-3 pt-5 ps-3">
    <li class="nav-item">
        <a class="nav-link1 text-white" href="#" data-bs-toggle="modal" data-bs-target="#registerModal">Register New Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link1 text-white" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
    </li>
    <p><a href="https://www.facebook.com" i class="bi bi-facebook"></a>
        <a href="https://www.instagram.com" i class="bi bi-instagram"></a>
    </p>				
</div>
<div class="col-md-4 text-white bg-dark mt-3 pt-5 ps-3">
    <h4>EKart Shopping Pvt Ltd</h4>
        <p>
            outer ring road<br>
            BTM Layout<br>
            staage-2 Banglore<br>								
        </p>
</div>
                
<div class="col-md-4 text-white bg-dark mt-3 pt-5 ps-3">
    <ul>
        <li><a href="index.html" style="text-decoration:none;color:white">Home</a></li>
        <li><a href="about.html" style="text-decoration:none;color:white">About Us</a></li>
        <li><a href="mobile.html" style="text-decoration:none;color:white">Products</a></li>
        <li><a href="contact.html" style="text-decoration:none;color:white">Contact</a></li>
    </ul>
</div>

</div>