

	

	<div class="col-md-3 offset-md-4">
		<button type="button" class="btn btn-outline-primary mt-3" id="cen4">TRENDING</button>
        <button type="button" class="btn btn-outline-secondary mt-3"  id="cen14">OFFERS</button>
        <button type="button" class="btn btn-outline-secondary mt-3" id="cen24" >NEW ARRIVALS</button>
    </div>
	

    <div class="row">

    <div class="col-md-3 mt-5">
        <div class="card" style="width:100%;">
            <img src="assets/photos/m1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">&nbsp <input type="button" onclick="incrementValue()" value="Add to Cart" />&nbsp See Details >>></a>
            </div>
        </div>						
    </div>	
    <div class="col-md-3 mt-5">
        <div class="card" style="width:100%;">
            <img src="assets/photos/m2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary"><input type="button" onclick="incrementValue()" value="Add to Cart" />Go somewhere</a>
            </div>
        </div>						
    </div>
    <div class="col-md-3 mt-5">
        <div class="card" style="width:100%;">
            <img src="assets/photos/m3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary"><input type="button" onclick="incrementValue()" value="Add to Cart" />Go somewhere</a>
            </div>
        </div>						
    </div>
    <div class="col-md-3 mt-5">
        <div class="card" style="width:100%;">
            <img src="assets/photos/m4.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary"><input type="button" onclick="incrementValue()" value="Add to Cart" />Go somewhere</a>
            </div>
        </div>						
    </div>
    <div class="col-md-3 mt-5">
        <div class="card" style="width:100%;">
            <img src="assets/photos/m5.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>						
    </div>
    <div class="col-md-3 mt-5">
        <div class="card" style="width:100%;">
            <img src="assets/photos/m6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>						
    </div>
    <div class="col-md-3 mt-5">
        <div class="card" style="width:100%;">
            <img src="assets/photos/m7.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>						
    </div>
    <div class="col-md-3 mt-5">
        <div class="card" style="width:100%;">
            <img src="assets/photos/m8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text"> title</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>						
    </div>


    </div>
   