<div class="col-md-12 mt-3">
    <img src="assets/photos/btv.jpg" style="width:100%">
    </div>

<div class="row">

    <div class="col-md-3 mt-3">
        <div class="card" style="width:100%;">
            <img src="assets/photos/t1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            
        </div>						
    </div>
    <div class="col-md-3 mt-3">
        <div class="card" style="width:100%;">
            <img src="assets/photos/t2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>						
    </div>
    <div class="col-md-3 mt-3">
        <div class="card" style="width:100%;">
            <img src="assets/photos/t3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>						
    </div>
    <div class="col-md-3 mt-3">
        <div class="card" style="width:100%;">
            <img src="assets/photos/t4.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>						
    </div>

    </div>